# Dependencies
src/frontend/caregiver_app/node_modules/

# Build outputs
src/frontend/caregiver_app/dist/
build/

# Environment files
.env
.env.local
.env.*.local

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Python & Backend
__pycache__/
*.py[cod]
.venv/
venv/
env/

# OS & Editor
.DS_Store
Thumbs.db

# Files
assets/file-structure.md
src/backend/.env.example
src/frontend/caregiver_app/frontend_structure.md

# Agents & Training data
src/patient_app/agents/difficulty_mlp_ucb1.tflite
src/patient_app/agents/generate_synthetic_data.py
src/patient_app/agents/ucb1_distilled_dataset.npz
