# Backend API endpoint URL (no trailing slash)
# For local dev: http://localhost:8000
# For Docker local: http://fedora:8000
# For Vercel production: https://<YOUR_RENDER_BACKEND_URL>.onrender.com
VITE_API_URL=https://https://smriti-kunj.onrender.com
